{% extends 'auth/layout.html' %}

{% block title %}Registration{% endblock %}


{% block title_variable %}
    <h2 class="title-variable">Register</h2>
    <hr>
{% endblock %}


{% block content %}
    <form class="form" method="post">
            <label for="username" class="username-label">Username</label>
            <input type="text" id="username" name="username" class="input">
            <label for="login" class="password-label">Password</label>
            <input type="password" id="login" name="password" class="input">
            <input type="submit" value="Register" class="button">
    </form>
{% endblock %}